*{
    margin: 5px;
    box-sizing: border-box;
    padding: 0;
}
.hidden {
    display: none;
}
.container1 {
    background-color: blueviolet;
    border: solid red 2px;
    width: 200px;
    height: 200px;
}
.container2 {
    background-color: red;
    border: solid blueviolet 2px;
    width: 200px;
    height: 200px;
}
.cont1 {
    opacity: 0.67;
}