* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.btn {
  margin: 10px;
}
.age {
  margin: 10px;
}
.btn2 {
  margin: 10px;
}
.presents {
  margin: 10px;
}
