* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 50vw;
  display: flex;
  flex-direction: row;
  margin: 15px;
}
.text-left {
  color: green;
  font-size: 30px;
  margin: 15px;
}
.text-right {
  color: darkmagenta;
  font-size: 30px;
  margin: 15px;
}
