* {
    margin: 0;
}
.container {
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}
.noticia {
    border: 1px solid red;
    width: 500px;
    height: 500px;
    position: relative;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.imagen {
    width: 50%;
}
.noticia5 {
    width: 100%;
    order: -1;
}
